<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="1" parallel="classes" >
<test name="testGuru">
<classes>
<class name="analyticsLive.MyCustomGARun"></class>
<class name="malive.MyCustomTestClass"></class>
</classes>
</test>
</suite>